[submodule "templates/example-clock-library/vendor/nimbus-build-system"]
	path = templates/example-clock-library/vendor/nimbus-build-system
	url = https://github.com/status-im/nimbus-build-system.git
